.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  [class*="container-"] {
    padding: 0;
  }

  .nav {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    padding-left: 30px;
    list-style: none;
  }

  .nav-item {
    display: inline-block;

    &:first-child a {
      padding-left: 0;
    }
  }

  .nav-link {
    color: $white;
    padding: 0 $padding-base-vertical;
    font-size: $font-size-sm;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:after {
    display: table;
    clear: both;
    content: " ";
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    nav {
      display: block;
      margin-bottom: 5px;
      float: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    justify-content: center;

    .nav {
      float: none;
      padding-left: 0;
    }
  }
}

.footer .copyright {
  font-size: $font-size-sm;
  line-height: 1.8;
  color: $white;
  text-align: center;
}
